# Exporting Dataframes to JSON

In [1]:
import pandas as pd
import datetime

# The DataFrame

In [3]:
data = pd.read_csv('cds.csv')
data.head()

                 TITLE           ARTIST COUNTRY         COMPANY  PRICE  YEAR
0     Empire Burlesque        Bob Dylan     USA        Columbia   10.9  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records    9.9  1988
2        Greatest Hits     Dolly Parton     USA             RCA    9.9  1982
3  Still got the blues       Gary Moore      UK  Virgin records   10.2  1990
4                 Eros  Eros Ramazzotti      EU             BMG    9.9  1997

# Defaults

In [14]:
data.to_json('json/CDDefault.json', indent=2)

# Orient

In [15]:
data.to_json('json/CDOrientSplit.json', indent=2,orient='split')

In [16]:
data.to_json('json/CDOrientRecords.json', indent=2,orient='records')

In [17]:
data.to_json('json/CDOrientIndex.json', indent=2,orient='index')

In [18]:
data.to_json('json/CDOrientColumns.json', indent=2,orient='columns')

In [19]:
data.to_json('json/CDOrientValues.json', indent=2,orient='values')

In [20]:
data.to_json('json/CDOrientTable.json', indent=2,orient='table')

# Date Format & Date Unit

In [21]:
data['Today'] = datetime.datetime.now()
data.head()

,TITLE,ARTIST,COUNTRY,COMPANY,PRICE,YEAR,Today
0,Empire Burlesque,Bob Dylan,USA,Columbia,10.9,1985,2023-05-01 23:11:05.917053
1,Hide your heart,Bonnie Tyler,UK,CBS Records,9.9,1988,2023-05-01 23:11:05.917053
2,Greatest Hits,Dolly Parton,USA,RCA,9.9,1982,2023-05-01 23:11:05.917053
3,Still got the blues,Gary Moore,UK,Virgin records,10.2,1990,2023-05-01 23:11:05.917053
4,Eros,Eros Ramazzotti,EU,BMG,9.9,1997,2023-05-01 23:11:05.917053

In [23]:
data.to_json('json/CDDateFormatISO.json', indent=2, orient='records',date_format='iso')

In [24]:
data.to_json('json/CDDateFormatISOSeconds.json', indent=2,orient='records',date_format='iso',date_unit='s')

In [25]:
data.to_json('json/CDDateFormatISOUS.json', indent=2,orient='records',date_format='iso',date_unit='us')

In [26]:
data.to_json('json/CDDateFormatISONanoseconds.json', indent=2,orient='records',date_format='iso',date_unit='ns')

In [27]:
data.to_json('json/CDDateFormatEPOCH.json', indent=2,orient='records',date_format='epoch')

In [28]:
data.to_json('json/CDDateFormatEPOCHSecond.json', indent=2,orient='records',date_format='epoch',date_unit='s')

# Double Precision

In [29]:
data.dtypes

TITLE              object
ARTIST             object
COUNTRY            object
COMPANY            object
PRICE             float64
YEAR                int64
Today      datetime64[ns]
dtype: object

In [30]:
data['PRICE'] = data['PRICE']/2
data.head()

,TITLE,ARTIST,COUNTRY,COMPANY,PRICE,YEAR,Today
0,Empire Burlesque,Bob Dylan,USA,Columbia,5.45,1985,2023-05-01 23:11:05.917053
1,Hide your heart,Bonnie Tyler,UK,CBS Records,4.95,1988,2023-05-01 23:11:05.917053
2,Greatest Hits,Dolly Parton,USA,RCA,4.95,1982,2023-05-01 23:11:05.917053
3,Still got the blues,Gary Moore,UK,Virgin records,5.10,1990,2023-05-01 23:11:05.917053
4,Eros,Eros Ramazzotti,EU,BMG,4.95,1997,2023-05-01 23:11:05.917053

In [31]:
data.to_json('json/CDDoublePrecision.json', indent=2,orient='records',double_precision=2)

# Force ASCII

In [32]:
data.to_json('json/CDForceASCII.json', indent=2,orient='records',force_ascii=False)

# Lines
Only works on orient records

In [33]:
data.to_json('json/CDLines.json', indent=2,orient='records',lines=True)

# Compression

In [34]:
data.to_json('json/CDGZip.gzip', indent=2,orient='table',compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1})

# Index
False is only valid when orient is split or table

In [35]:
data.to_json('json/CDIndex.json', indent=2,orient='table',index=False)

# Indent

In [ ]:
data.to_json('json/CDIndent.json',orient='table',indent=2)